.font-bold {
    font-weight: bold;
}

.wire-table-container {
    height: 350px;
    overflow: scroll;
}

.wire-data-container {
    height: 350px;
    overflow: scroll;
}

.ng-invalid {
    border: 1px solid red;
}

.CodeMirror {
    width: 840px;
    height: 100px;
}
.table-action {
    cursor: pointer;
    margin-left: 6px;
}

table tbody {
    counter-reset: rowNumber;
}

table tbody tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}