.font-bold {
    font-weight: bold;
}

.wire-table-container {
    height: 350px;
    overflow: scroll;
}

.wire-data-container {
    height: 350px;
    overflow: scroll;
}

.ng-invalid {
    border: 1px solid red;
}

.CodeMirror {
    width: 840px;
    height: 100px;
}
.table-action {
    cursor: pointer;
    margin-left: 6px;
}